/*buncha style stuff going on in here*/

body{
	background-color: lightgrey;
	height: 500px;
}

#content {
	width: 60%;
	height: 100%;
	display: inline-block;
	background-color: grey;
	padding: 10px;
}

#express {
	
}

.spacer {
	width: 20%;
	display: inline-block;
}

.cardBase {
	display: inline-block;
	vertical-align: top;
	width: 55px;
	height: 80px;
	margin-right: 10px;
	border-radius: 10px;
	padding: 10px;
}

.cardFront {
	background-color: white;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}

.cardEmpty {
	background-color: lightgrey;
}

.cardBack {
	background-image: url('./img/cardback.png');
	background-size: contain;
}

.redText {
	color: red;
}

.blackText {
	color: black;
}

.deckTable {
	width: 160px;
	height: 120px;
	padding: 20px;
	border: solid;
	white-space: nowrap;
}