/*buncha style stuff going on in here*/

body{
	background-color: lightgrey;
}

#content {
	width: 1024px;
	height: auto;
	background-color: grey;
	padding: 10px;
	margin: auto;
}

#content > div {
	display: flex;
	border: solid;
	margin: 5px;
}

#header > div {
	border: solid;
	margin: 5px;
	padding: 10px;
}

#cards {
	width: auto;
	height: auto;
	white-space: nowrap;
}

#status {
	flex-grow: 1;
}

#story {
	flex-direction: column;
	height: 100px;
}

.cardBase {
	display: inline-block;
	vertical-align: top;
	width: 55px;
	height: 80px;
	margin-right: 10px;
	border-radius: 10px;
	padding: 10px;
}

.cardFront {
	background-color: white;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}

.cardEmpty {
	background-color: lightgrey;
}

.cardBack {
	background-image: url('./img/cardback.png');
	background-size: contain;
}

.redText {
	color: red;
}

.blackText {
	color: black;
}

.deckTable {
	width: 160px;
	height: 120px;
}